@media all and (orientation:portrait) and (max-width:700px){
    header{
        display:block;
    }
    header div{
        display:flex;
        justify-content:center;
        margin:0 0 10px;
    }
    header nav ul{
        justify-content:center;
    }
    header nav ul li{
        margin:0 10px;
    }
    #about_content{
        display:block;
    }
    #content_title{
        width:100%;
    }
    #card_container{
        grid-template-columns:2fr;
    }
    #work_content{
        grid-template-columns:2fr;
    }
    #testimonial_content{
        display:block;
    }
    #contact_section h1{
        font-size:40px;
    }
    #form_area input{
        width:350px;
    }
    #form_area textarea{
        width:350px;
    }
    #form_area input:last-child{
        margin-right:0;
    }
}
@media all and (orientation:landscape) and (max-width:700px){
    header{
        display:block;
    }
    header div{
        display:flex;
        justify-content:center;
        margin:0 0 5px;
    }
    header nav ul{
        justify-content:center;
    }
    header nav ul li{
        margin:0 10px;
    }
    #about_content{
        display:block;
    }
    #content_title{
        width:100%;
    }
    #work_content{
        grid-template-columns:2fr;
    }
}
@media all and (min-width:700px) and (max-width:900px){
    #work_content{
        grid-template-columns:2fr;
    }
    #about_content{
        display:block;
    }
    #content_title{
        width:100%;
    }
}